<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/header %>
</head>
<body class="container">


<main>
    <div class="jumbotron">
        <h1>txt Form submitted successfully</h1>
    </div>
</main>


</body>
</html>