<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/header %>
</head>
<body class="container">



<div class="jumbotron">
  <h1>Please fill up the form</h1>
</div>
<form method="post" action="/form-submission">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input name="firstName" type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" placeholder="Enter first name">
    <small id="firstNameHelp" class="form-text text-muted">Please enter your first name.</small>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input name="lastName" type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp" placeholder="Enter last name">
    <small id="lastNameHelp" class="form-text text-muted">Please enter your last name.</small>
  </div>
  <div class="form-group">
	<label for="form-datepicker">Date of Birth</label>
	<input name="dob" id="form-datepicker" class="form-control" aria-describedby="dobHelp" placeholder="Choose your date of birth">
    <small id="dobHelp" class="form-text text-muted">Please enter your date of birth (YYYY-mm-dd).</small>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">Please enter your email.</small>
  </div>
  <div class="form-group">
	  <label for="gender">Gender</label>
	  <select name="gender" class="form-control" id="gender" aria-describedby="genderHelp">
		<option value="male">Male</option>
		<option value="female">Female</option>
	  </select>
	  <small id="genderHelp" class="form-text text-muted">Please select your gender.</small>
	</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
const picker = datepicker('#form-datepicker', {
	formatter: function(el, date, instance) {
    // This will display the date as `1-1-2019`.
    el.value = date.getFullYear() + '-' + date.getMonth() + '-' + date.getDate();
  }
});
</script>

</body>
</html>
