<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/header %>
</head>
<body class="container">


<main>
    <div class="jumbotron">
        <h1>Please browse to <a href='/form'>form</a></h1>
    </div>
</main>


</body>
</html>